<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">

        <form 
            #f="ngForm" 
            (ngSubmit)="onSubmit(f)" >
        
            <div class="row">

                <div class="col-lg-6 col-md-6 col-xs-6 col-sm-6" >
                    <div class="form-group">
                        <label for="livro">Livro</label>
                        <select class="form-control" id="livro" name="livro" ngModel>
                            <option value="" disabled>Selecione um Livro</option>
                            <option 
                                class="form-control"
                                *ngFor="let livro of listLivros" 
                                value="{{livro.sigla}}">
                                    {{livro.nome}}
                            </option>
                        </select>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-xs-4 col-sm-4">
                    <div class="form-group">
                        <label for="capitulo">Capitulo</label>
                        <input 
                            id="capitulo"
                            class="form-control"
                            type="number"
                            placeholder="Digite o numero do capitulo" 
                            min="0"
                            ngModel
                            name="capitulo" >
                    </div>
                </div>

                <div class="col-lg-2 col-md-2 col-xs-2 col-sm-2">
                    <div class="form-group">
                        <label>&nbsp;</label>
                        <button
                            type="submit"
                            class="btn btn-primary form-control">
                                Buscar
                        </button>
                    </div>
                </div>

            </div>

        </form>

    </div>
</nav>
    

<div class="container" >

    <div class="row" >
        <div  class="col-lg-12 text-center">
            <strong *ngIf="biblia != null">{{biblia.livro}} &nbsp; {{biblia.capitulo}}</strong>
        </div>
    </div>

    <div class="row" >
        <div class="col-lg-12">
            <div id="result" class="text-left"></div>
        </div>
    </div>
</div>

<!-- 
    espacamento li
    titulo bilia
    espacamento campo busca -->

